@charset 'utf-8';

@import 'settings/foundation-settings';
@import 'settings/foundation-components';
@import 'settings/munger-settings';
@import 'settings/munger-components';

$fa-font-path: "fonts";
@import 'font-awesome';

@import 'layout';

.flex-row {
    display: flex;
}

.mu-header__logo {
    background-color: #ccc;
}

.menu {
    li {
        list-style: none;
        display: inline-block;
    }
}
