extends ../index.pug

block title
    | mu-bg

block content
    .row
        .small-6.medium-3.columns
            div.mu-bg(style='width: 100%; height: 200px; border: 2px solid #888; margin-bottom: 20px;')
        .small-6.medium-3.columns
            div.mu-bg--neutral(style='width: 100%; height: 200px; border: 2px solid #888; margin-bottom: 20px;')
        .small-6.medium-3.columns
            div.mu-bg--primary(style='width: 100%; height: 200px; border: 2px solid #888; margin-bottom: 20px;')
        .small-6.medium-3.columns
            div.mu-bg--secondary(style='width: 100%; height: 200px; border: 2px solid #888; margin-bottom: 20px;')
