extends ../index.pug

block title
    | [data-mu-media-gallery]

block content
    .row
        .column
            each val in Array(12)
                .small-1.column
                    div.mu-bg--neutral(style='width: 100%; height: 30px; margin: 20px 0;')
