extends ../index.pug

block title
    | mu-boxed

block content
    section.mu-boxed.mu-bg--neutral
        include ../partials/_three-columns-text

    include ../partials/_twelve-columns

    section.mu-boxed.mu-bg--primary
        include ../partials/_three-columns-text

    include ../partials/_twelve-columns

    section.mu-boxed.mu-bg--secondary
        include ../partials/_three-columns-text
