extends ../index.pug

block title
    | mu-icon-list

block content
    .row.column
        p: strong Vertical
        div(style='width: 400px')
            ul.mu-icon-list
                li.mu-icon-list__entry <i class="fa fa-camera-retro"></i>Camera
                li.mu-icon-list__entry <i class="fa fa-bell-o"></i>Bell
                li.mu-icon-list__entry <i class="fa fa-binoculars"></i>Binoculars
                li.mu-icon-list__entry <i class="fa fa-clock-o"></i>Clock
                li.mu-icon-list__entry <i class="fa fa-envelope-o"></i>Envelope
                li.mu-icon-list__entry <i class="fa fa-phone"></i>Phone
                li.mu-icon-list__entry <i class="fa fa-align-left"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li.mu-icon-list__entry <i class="fa fa-align-right"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.

        p: strong Horizontal
        ul.mu-icon-list.mu-icon-list--horizontal
            li.mu-icon-list__entry <i class="fa fa-camera-retro"></i>Camera
            li.mu-icon-list__entry <i class="fa fa-bell-o"></i>Bell
            li.mu-icon-list__entry <i class="fa fa-binoculars"></i>Binoculars
            li.mu-icon-list__entry <i class="fa fa-clock-o"></i>Clock
            li.mu-icon-list__entry <i class="fa fa-envelope-o"></i>Envelope
            li.mu-icon-list__entry <i class="fa fa-phone"></i>Phone

        ul.mu-icon-list.mu-icon-list--horizontal
            li.mu-icon-list__entry <i class="fa fa-camera-retro"></i>
            li.mu-icon-list__entry <i class="fa fa-bell-o"></i>
            li.mu-icon-list__entry <i class="fa fa-binoculars"></i>
            li.mu-icon-list__entry <i class="fa fa-clock-o"></i>
            li.mu-icon-list__entry <i class="fa fa-envelope-o"></i>
            li.mu-icon-list__entry <i class="fa fa-phone"></i>
