@charset 'utf-8';

@import 'settings/foundation-settings';
@import 'settings/foundation-components';
@import 'settings/munger-settings';
@import 'settings/munger-components';

$fa-font-path: "fonts";
@import 'font-awesome';

.docs-snippet-columns {
    @include mu-with-gutter-size(1, margin-top, margin-bottom);
}

.docs-square {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid $light-gray;
}
