extends /templates/row-column

block title
    | Typography

block content
    h2 Lorem ipsum dolor sit (h2)
    h3 Lorem ipsum dolor sit (h3)
    h4 Lorem ipsum dolor sit (h4)
    h5 Lorem ipsum dolor sit (h5)
    h6 Lorem ipsum dolor sit (h6)

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
